name: Deploy
on:
  push:
    branches:
      - new-main
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v3        
      - name: Config git
        run: |
          git config --global user.name Rodrigo 
          git config --global user.email rcarmona@realmetrics.io
      - name: Add Remote
        env:
          TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
        run: |
          echo "branch"
          git branch
          echi "branch -r"
          git branch -r
          git checkout test
          git merge new-main
          git commit -am "cambios en test"
          git push